USE [master]
GO
/****** Object:  Database [EstudiantesRZ]    Script Date: 19/06/2024 1:19:26 ******/
CREATE DATABASE [EstudiantesRZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EstudiantesRZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EstudiantesRZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EstudiantesRZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EstudiantesRZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EstudiantesRZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EstudiantesRZ]
GO
/****** Object:  Table [dbo].[Lista_Estudiantes]    Script Date: 19/06/2024 1:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lista_Estudiantes](
	[NOMBRE] [varchar](50) NULL,
	[MATRICULA] [varchar](9) NULL,
	[CORREO_1] [varchar](60) NULL,
	[CORREO_2] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MySalaryRZ]    Script Date: 19/06/2024 1:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MySalaryRZ](
	[ID] [numeric](6, 0) NULL,
	[NAME] [varchar](20) NULL,
	[LASTNAME] [varchar](25) NULL,
	[SALARY] [numeric](8, 2) NULL,
	[FULLNAME] [varchar](46) NULL
) ON [PRIMARY]
GO
USE [master]
GO
